<IfModule mod_rewrite.c>
    RewriteEngine on
    
    # Cegah rewrite berulang jika sudah masuk ke folder public
    RewriteCond %{REQUEST_URI} !^/public/
    
    # Arahkan semua request ke folder public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>