<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika yang diakses adalah file/folder fisik (seperti file CSS/JS/Gambar), biarkan lewat
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Jika tidak, arahkan semuanya ke index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>